.description-gallery {
  margin-top: -50px;
  padding-bottom: 156px;
  background-color: $bg-black;

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    & + .description-gallery__item {
      margin-left: 20px;
    }
  }

  &__title {
    margin-bottom: 13px;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &__img {
    width: 285px;
    height: 384px;
    object-fit: cover;
  }

  &__box {
    width: 285px;
    height: 384px;
    &:hover .description-gallery__content {
      opacity: 1;
    }
  }

  &__content {
    margin-top: -137px;
    opacity: 0;
    transition: all 0.5s;
  }

  &__num {
    display: inline-block;
    @extend %f-b;
    margin: 0 24px 17px 24px;
    line-height: 23px;
  }

  &__text {
    margin: 0 24px 44px 24px;
    width: 235px;
  }

  &__btn {
    border: 1px solid #f3c166;
    border-radius: 2px;
    padding: 17px 117px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $white;
  }
}
