.gallery {
  background-color: $bg-black;
  padding-bottom: 178px;
  &__subtitle {
    margin-bottom: 21px;
  }
  &__text {
    margin-bottom: 64px;
    max-width: 457px;
    width: 100%;
  }
  &__item {
    display: flex;
    align-items: flex-end;
    padding-bottom: 120px;
    position: relative;

    &:last-child {
      padding-bottom: 90px;
    }
    &:nth-child(2) {
      justify-content: flex-end;
      .gallery__item-content {
        left: 42%;
      }
    }
    &:nth-child(3) {
      .gallery__item-content {
        right: 26%;
      }
    }
  }
  &__item-content {
    max-width: 350px;
    width: 100%;
    margin-bottom: 80px;
    margin-left: -140px;
    position: absolute;
    right: 10%;
  }
  &__item-subtitle {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15em;
    margin-bottom: 1px;
  }
  &__item-title {
    margin-bottom: 8px;
    font-size: 54px;
    line-height: 120%;
    text-transform: uppercase;
  }
  &__item-date {
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: $silver;
    text-align: right;
  }
  &__btn {
    display: block;
    margin: 0 auto;
  }
}
