.information {
  padding-top: 60px;
  background-color: $bg-black;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__subtitle {
    margin-bottom: 9px;
  }

  &__title {
    margin-bottom: 40px;
    width: 100%;
    max-width: 352px;
  }

  &__text {
    margin-bottom: 40px;
    width: 100%;
    max-width: 270px;
  }

  &__form {
    position: relative;
  }

  &__input {
    border: none;
    border-radius: 2px;
    padding: 0 50px 0 20px;
    width: 314px;
    height: 52px;
    background: #292929;
    &::placeholder {
      @extend %f-r;
      font-size: 16px;
      line-height: 150%;
      color: $silver;
    }
  }
  
  &__btn-icons {
    position: absolute;
    right: 51px;
    top: 22px;
  }
}
