.shooting {
  padding: 140px 0 70px 0;
  background-color: $bg-black;

  &__title {
    margin-bottom: 60px;
  }

  &__items {
    display: flex;
    margin-bottom: 138px;
  }

  &__item {
    margin: 0 30px;
    width: 100%;
    max-width: 280px;
  }

  &__item-icons {
    display: block;
    margin-bottom: 2px;
    width: 96px;
    height: 102px;
    object-fit: contain;
  }

  &__item-title {
    margin-bottom: 17px;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
  }

  &__descr {
    margin-bottom: 40px;
  }

  &__descr-subtitle {
    margin-bottom: 21px;
  }

  &__descr-text {
    width: 100%;
    max-width: 500px;
  }

  &__partners-box {
    padding: 58px 0;
    background-color: $bg;
  }

  &__partners {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__partners-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    & + .shooting__partners-item {
      margin-left: 20px;
    }
  }

  &__partners-name {
    display: inline-block;
    margin-top: 12px;
    color: #000;
  }
}
