.slider {
  padding-bottom: 160px;
  background-color: $bg-black;

  &__images-box {
    background: #292929;
  }

  &__images-inner {
    display: flex;
    justify-content: space-between;
    padding: 90px 0;
  }

  &__images {
    width: 120px;
    height: 120px;
    object-fit: cover;
  }

  &__avatar {
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    width: 120px;
    height: 120px;
  }

  &__content {
    padding-top: 32px;
  }

  &__content-box {
    text-align: center;
  }

  &__content-name {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $silver;
  }

  &__content-descr {
    margin: 0 auto;
    width: 100%;
    max-width: 337px;
    font-size: 20px;
  }

  .slick-btn {
    position: absolute;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  .slick-prev {
    left: 25%;
    top: 20px;
    z-index: 10;
  }

  .slick-next {
    right: 25%;
    top: 20px;
  }

  .slick-center {
    width: 180px;
    height: 180px;
    transform: scale(1.25);
    transition: all 0.5s;
    .slider__images {
      width: 180px;
      height: 180px;
    }
  }
}
