.studio {
  padding: 70px 0 70px;
  background-color: $bg-black;
  &__slider-item {
    width: 373px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 603px;
  }
  &__slider-content {
    margin: 64px 0 0 64px;
  }

  &__slider-title {
    margin-bottom: 24px;
  }
  &__slider-text {
    width: 373px;
    margin-bottom: 219px;
  }
  &__slider-btn {
    margin-right: auto;
    margin-left: 0;
  }
  .slick-btn {
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 155px;
    transform: translateX(-50%);
  }
  .slick-prev {
    left: 92px;
    z-index: 10;
  }
  &__items {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 19px;
  }
  &__item {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__item-advantages {
    display: block;
    margin-bottom: 4px;
    font-size: 52px;
    line-height: 61px;
    @extend %f-l;
    text-transform: uppercase;
    span {
      font-size: 25px;
      margin-left: 12px;
    }
    sup {
      top: -6px;
      left: -8px;
    }
  }
  &__item-descr {
    @extend %f-b;
    font-size: 28px;
    line-height: 35px;
    text-transform: uppercase;
    color: $silver;
  }
}
